name: update

on:
  push
  # schedule:
  #  - cron: '0 */2 * * *'

jobs:
  render:
    name: update
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install packages
        run: Rscript install.R
      - name: Run R script
        run: Rscript update.R
        env: # Or as an environment variable
          api_a: ${{ secrets.api_a }}
          api_b: ${{ secrets.api_b }}
          api_c: ${{ secrets.api_c }}
          api_d: ${{ secrets.api_d }}
      - name: Commit results
        run: |
          git add -A || echo "No changes to commit"
          git commit --allow-empty -m 'gHA build: ${{github.run_number}}' || echo "No changes to commit"
          git push https://${{github.actor}}:${{secrets.token}}@github.com/${{github.repository}}.git HEAD:${{ github.ref }} || echo "No changes to commit"
